.footer{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #111f2a;
}
.fa {
    background:  #111f2a;
      color: #fff;
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  
  }
  .copyright{
  text-align:left ;
  font-size: 0.75rem;
  }
